/*-----------------------------------
SLIDER STYLES 
-----------------------------------*/

h1#lakers-gallery {
	text-align: center;
	color: #fdb826;
	text-shadow: 2px 2px #000000;
}

#content_wrapper {
	width: 600px;
	height: 450px;
	margin: 0 auto;
	border: 5px solid #fdb826;
	box-shadow: 5px 5px 5px #222;
	margin-top: 20px;
	background: url("../photo/lakers.jpg") no-repeat;
}

#slider {
	width: 600px;
	height: 450px;
	overflow: hidden;
}

#slider .slides {
	display: block;
	width: 12000px;
	height: 450px;
	margin: 0;
	padding: 0;
}

#slider .slide {
	float: left;
	list-style-type: none;
	width: 600px;
	height: 450px;
}
